In [34]:
import pandas as pd

In [29]:
#files

df= pd.read_csv('adult.data.csv')

pd.options.display.float_format ='{:,.2f}'.format

In [30]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [31]:
race_count= df.race
print(race_count.value_counts())
race_count.value_counts(normalize=True)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

race
White                0.85
Black                0.10
Asian-Pac-Islander   0.03
Amer-Indian-Eskimo   0.01
Other                0.01
Name: proportion, dtype: float64

2. What is the average age of men?

In [35]:
average_age_men = df.loc[df.sex == 'Male', 'age'].mean()
average_age_men

39.43354749885268